<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>


<connectionStrings><add name="BookStoreModel" connectionString="data source=DESKTOP-PU4OC5C;initial catalog=BookStoreDB;user id=sa;password=sa1234;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings></configuration>